<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '../static/styles/index.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '../static/styles/product_detail.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '../static/styles/product_list.css' %}"
    />
    <link rel="stylesheet" href="{% static '../static/styles/cart.css' %}" />
  </head>
  <body>
    <!-- Header section starts-->

    <div class="navbar">
      <div class="logo">
        <a href="/"
          ><img src="{% static '../static/images/logo.png' %}" alt=""
        /></a>
        <a href="/"
          ><h1>Headphoneshop<span>.</span></h1></a
        >
      </div>
      <div class="menu_bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="nav_menu">
            <a href="#">Categories &#11167;</a>
            <ul class="dropdown" id="category">
              {% for category in categories %}
              <li>
                <a
                  href="{% url 'product_list' filter_type='category' filter_value=category.category %}"
                  >{{ category.category }}s</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav_menu">
            <a href="#">Brands &#11167;</a>
            <ul class="dropdown" id="category">
              {% for brand in brands %}
              <li>
                <a
                  href="{% url 'product_list' filter_type='brand' filter_value=brand.brand %}"
                  >{{ brand.brand }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav_menu">
            <a href="#">Price &#11167;</a>
            <ul class="dropdown" id="price">
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='1000-5000' %}"
                  >1000-5000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='5000-10000' %}"
                  >5000-10000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='10000-20000' %}"
                  >10000-20000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='20000-30000' %}"
                  >20000-30000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='30000-40000' %}"
                  >30000-40000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='40000-50000' %}"
                  >40000-50000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='50000-60000' %}"
                  >50000-60000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='60000-70000' %}"
                  >60000-70000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='70000-80000' %}"
                  >70000-80000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='80000-90000' %}"
                  >80000-90000</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_list' filter_type='price' filter_value='90000-100000' %}"
                  >90000-100000</a
                >
              </li>
            </ul>
          </li>
          <li><a href="#">Contact</a></li>
          <li class="nav_menu">
            <a href="#"><i class="fa-solid fa-user fa-bounce"></i></a>
            <ul class="dropdown">
              {% if user.is_authenticated %}
              <li><a href="{% url 'order' %}">Orders</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Signup</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="cart">
            <a href="{% url 'view_cart' %}"
              ><i class="fa-solid fa-cart-shopping fa-bounce"
                ><sup>{{ total_quantity }}</sup></i
              ></a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- header section ends -->
    {% block content %}
    <h1>Your Cart</h1>

    {% if cart_items %}
    <div class="cart_container">
      <h1 class="your_cart">Your Cart</h1>
      {% for item in cart_items %}
      <div class="cart_product">
        <div class="cart_product_img">
          <img src="{{ item.product.image1.url }}" alt="" />
        </div>
        <div class="cart_content">
          <h1 class="cart_name">{{ item.product.name }}</h1>
          <p class="cart_type">{{ item.product.type }}</p>
          <p class="cart_price"><span>Price: </span> ₹{{ item.product.price }}</p>
          <p class="cart_quantity"><span>Quantity: </span> {{ item.quantity }}</p>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.id }}" />
            <button type="submit" name="action" value="remove">Remove</button>
            <button type="submit" name="action" value="decrease">
              Decrease
            </button>
            <button type="submit" name="action" value="increase">
              Increase
            </button>
          </form>
        </div>
      </div>

      {% endfor %}
<div class="total_price">
      <p>Total Price: ₹{{ total_price }}</p>
      <button class="checkout"><a href="{% url 'order' %}">Checkout</a></button>
    </div>
      {% else %}
      <p>Your cart is empty.</p>
    </div>
    {% endif %} {% endblock %}
    <script src="{% static '../static/js/home.js' %}"></script>
  </body>
</html>
